@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: black;
}

@media screen and (max-width: 480px) {
  .bg-hero-sm {
    background-position: 32% 0%;
    background-size: auto;
  }
}

@media screen and (min-width: 480px) {
  .bg-hero-sm {
    background-position: 30% 0%;
  }
}

@media screen and (min-width: 768px) {
  .bg-hero-sm {
    background-position: 14% 0%;
  }
}

.btn-common:hover {
  background: linear-gradient(
    90deg,
    hsla(54, 23%, 91%, 1) 14%,
    hsla(276, 52%, 66%, 1) 50%,
    hsla(274, 100%, 47%, 1) 100%
  );
}

.btn-hero-sec:hover {
  background: linear-gradient(
    90deg,
    hsla(54, 23%, 91%, 1) 14%,
    hsla(276, 52%, 66%, 1) 43%,
    hsla(274, 100%, 47%, 1) 100%
  );
}
