@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .bg-hero-sm {
    background-position: 32% 0%;
    background-size: auto;
  }
}

@media screen and (min-width: 480px) {
  .bg-hero-sm {
    background-position: 30% 0%;
  }
}

@media screen and (min-width: 768px) {
  .bg-hero-sm {
    background-position: 14% 0%;
  }
}

.react-player {
  width: 100% !important;
  height: 100% !important;
}
.react-player video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
